@tailwind base;
@tailwind components;
@tailwind utilities;


.recipes-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.recipe-item{
    min-width: 200px;
}